<% if (typeof category !== 'undefined') { %>

<div>
	<h1>Category Name: <%= category.categoryName %></h1>
	<h1>Description:</h1>
	<p><%= category.description %></p>
	<form action="" method="post">
		<button>Modify</button>
	</form>
	<form action="" method="post">
		<button>delete</button>
	</form>
</div>
<% } else { %>
<div>
	<h1>There is no such category.</h1>
</div>
<% } %>
